@import '../../../scss/index.scss';

.menu-sider{
    position: fixed;
    top: 52px;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    border-right: 10px !important;
    background-color: white;

    &.menu-sider-collapsed{
        width: 50px;
    }

    .ant-menu-item-selected{
        background-color: $secondary_color;
        color: white;
    }

    .ant-menu-item {
        display: flex;
        margin: 0 !important;
        border-radius: 0 3px 3px 0 !important;
        padding: 20px !important;
    }
}