@import "../../App.scss";

.footer {
    background-color: white;
    color: #777;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    font-size: 14px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;

    a {
        color: #777;
        text-decoration: none;

        &:hover {
            color: #000;
        }
    }
}